<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="p-4">
   <h2>Inventory</h2>
    <a href="/add" class="btn btn-success mb-3">Add New Items</a>

    <form action="/" method="GET" class="mb-3">
        <input type="text" name="search" placeholder="Search by Name" value="{{ search }}" class="form-control">
    </form>

    <div class="mb-3">
        <a href="/?sort=name" class="btn btn-outline-primary btn-sm">Sort by Name</a>
        <a href="/?sort=quantity" class="btn btn-outline-primary btn-sm">Sort by Quantity</a>
        <a href="/?sort=price" class="btn btn-outline-primary btn-sm">Sort by Price</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>
                    <a href="/edit/{{ item[0] }}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="/delete/{{ item[0] }}" class="btn btn-primary btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>